AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: DontAlign
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakAfterReturnType: TopLevel
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 2
ColumnLimit: 0
SpaceAfterCStyleCast: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
