name: Build Status (CMake)
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - run: cmake -S . -B build
    - run: cmake --build build
    - run: ctest --verbose --test-dir build/test
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: test-logs-${{ matrix.os }}
        path: build/test/Testing/Temporary/LastTest.log
